
{% extends 'base.html' %}

{% block content %}



<main class="container py-5">

    
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, necessitatibus.</p>
        
        <div class="text-center">
            
            <a class="btn btn-primary" href="/signin/">
                signin
            </a>
            <a href="/signup/" class="btn btn-secondary">
                signup

            </a>
        </div>
    </section>

</main>
{% endblock %}
